@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.contenedor-descripcion{
  border:1px solid #00B0DC;
}


.titulo-descripcion {
  font-size: 50px;
  font-weight: bold;
  color: #00B0DC;
  animation: bounce 4s;
}
.pre-title{
  font-family: "Roboto Condensed", sans-serif;
   text-transform: uppercase;
   font-size:15px;
}
.progress-bar-1 {
  height: 5px;
  margin-top: 5px;
  width: 7%;
  margin-bottom: 15px;
}
.fondo-1{
  background-color: #004AAD; 
}
.contenedor-descripcion {
  padding: 20px;
}

.icon {
margin-bottom: 20px;
  font-size: 20px;
  color: #00B0DC;
}

.message {
  font-size: 15px;
  font-weight: bold;
  color:#00B0DC;
}

.description-informacion {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 30px;
  opacity: 0.75;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 10px;
  animation: slideInUp 2.5s ease-out;

}
@keyframes slideInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.icon{
  display: flex;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #004AAD;
  font-size:47px;
  padding: 7px;
  border-radius: 5px;
  background-color:rgb(0, 176, 220,0.15);
  transition: transform 0.5s ease-in-out;
  animation: rotateIn 1s ease-out;
}
.icon:hover{
  transform: rotate(360deg);
  background: rgba(0, 74, 173,0.90);
  color:#fff;
}
.info-titulo{
  margin-bottom:15px;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Roboto Condensed", sans-serif;
}

.info-titulo::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  background: #00B0DC;
  transition: width 0.4s ease;
}

.info-titulo:hover::after {
  width: 10%;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}
@media screen and (max-width: 600px){
  .icon{
    display: flex;
    margin-right: 7px;
    margin-bottom: 5px;
    color: #004AAD;
    font-size:10px;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(0, 176, 220,0.15);
  }
  .info-titulo{
    margin-bottom:5px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 10px;
    text-transform: capitalize;
    font-family: "Roboto Condensed", sans-serif;
  }
  }
  .btn-conoce-1{
    padding: 9px 24px;
    border-radius: 20px 70px;
    margin-top: 50px;
    background: linear-gradient(45deg, #00B0DC 0%, #00B0DC 100%);
    color:white;
    font-family: "Roboto Condensed",sans-serif;
    border:none;
    transition: background-color 0.5s ease, color 0.5s ease;
    
  }
  .btn-conoce-1:hover {
    background: linear-gradient(45deg, #0088A8 0%, #00B0DC 100%);
    transform: scale(1.05);

}

  

