.contenedor-descripcion{
  border:1px solid #00B0DC;
}
.intro {
  text-align: center;
  margin-bottom: 50px;
}

.titulo-descripcion {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.contenedor-descripcion {
  padding: 20px;
}

.icon {
margin-bottom: 20px;
  font-size: 20px;
  color: #00B0DC;
}

.message {
  font-size: 15px;
  font-weight: bold;
  color:#00B0DC;
}

.vision-description {
  font-size: 15px;
  color: #000;
  margin-top: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
